nav.top-menu
  ul
    li
      a(href="#") Наша продукция
    li
      a(href="#") Преимущества литиевых АКБ
    li
      a(href="#") О нас
    li
      a(href="#") Сертификаты
    li
      a(href="#") Отзывы
    li
      a(href="#") Контакты