mixin burger(data)
  button(type="button" aria-label="Меню" class= data.cls).burger
    span(aria-hidden="true").burger__line.burger__line--top
    span(aria-hidden="true").burger__line.burger__line--middle
    span(aria-hidden="true").burger__line.burger__line--bottom