.base-title {
	display: block;
	font-family: var(--secondary-font);
	font-weight: 600;
	font-size: clamp(24px, 4.4vw, 42px);
	margin: 0;
	margin-bottom: 24px;
	color: var(--dark);
	text-align: center;
}

.base-subtitle {
	display: block;
	font-family: var(--secondary-font);
	font-weight: 600;
	font-size: clamp(18px, 2.8vw, 22px);
	margin: 0;
	color: var(--dark);
}

.main-title {
	display: block;
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: clamp(28px, 3.8vw, 48px);
	margin: 24px 0;
	color: var(--primary);
}

.main-text {
	display: inline-block;
	font-size: clamp(18px, 2.4vw, 24px);
	font-weight: 400;
	margin: 24px 0;
	color: var(--site-base-text-color);
}

.base-text {
	display: inline-block;
	font-size: clamp(14px, 2.4vw, 16px);
	font-weight: 400;
	width: 100%;
	margin: 0;
	color: var(--site-base-text-color);
	text-align: center;
	&--accent {
		color: var(--accent);
	}
}
