section.base-section
  .container
    h2.base-title Наши партнеры
    p.base-text В нашем бизнесе мы гордимся тем, что сотрудничаем с широким спектром клиентов, стремящихся к инновационным и экологически чистым решениям в сфере электрического и электронного оборудования. Наша продукция, включая аккумуляторные батареи, источники бесперебойного питания, солнечные модули и другие компоненты, находит применение во множестве отраслей.