section.base-section.contacts
  .container
    .contacts__grid
      .contacts__grid-item.contacts__grid-item--main
        h2.base-title Контакты

        .contacts__field
          svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
            use(xlink:href='./assets/sprite.svg#icon-mail')

          span Email
          a(href="mailto:hello@test.ru").base-text hello@test.ru
        .contacts__field
          svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
            use(xlink:href='./assets/sprite.svg#icon-phone')
          
          span Телефон
          a(href="tel:+15550000000").base-text +1 (555) 000-0000
        .contacts__field
          svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
            use(xlink:href='./assets/sprite.svg#icon-pin')
          
          span Адрес
          address.base-text г. Санкт- Петербург, ул. Адмиралтейская, д. 125 корп. 5 

        include ../../components/blocks/social/social

      .contacts__grid-item.contacts__grid-item--map
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af4acc6398dd3fa571604beb13d84149289436dfa88dae7d0b70d770bbcb295a8&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>