include ../../components/_ui/sliders/main-slider/main-slider

section.base-section.catalog-preview
  .container
    h2.base-title Наша продукция
    p.base-text Мы предлагаем широкий спектр современного электрического и электронного оборудования для решения любых задач в области энергоснабжения и автоматизации.

    .base-section__container
      +main-slider({
        type: 'products',
        items: [
          {
            img: 'prod-1',
            title: 'Аккумуляторные батареи',
            text: 'Один из ведущих производителей тяговых литий-ионных и свинцово-кислотных аккумуляторных батарей.',
            features: [
              'Современное технологичное производство',
              'Узнаваемость бренда с 1991 года',
              'Сервисная поддержка'
            ]
          },
          {
            img: 'prod-1',
            title: 'Аккумуляторные батареи',
            text: 'Один из ведущих производителей тяговых литий-ионных и свинцово-кислотных аккумуляторных батарей.',
            features: [
              'Современное технологичное производство',
              'Узнаваемость бренда с 1991 года',
              'Сервисная поддержка'
            ]
          },
          {
            img: 'prod-1',
            title: 'Аккумуляторные батареи',
            text: 'Один из ведущих производителей тяговых литий-ионных и свинцово-кислотных аккумуляторных батарей.',
            features: [
              'Современное технологичное производство',
              'Узнаваемость бренда с 1991 года',
              'Сервисная поддержка'
            ]
          },
          {
            img: 'prod-2',
            title: 'Накопители',
            text: 'DELTA BATTERY - бренд аккумуляторных батарей №1 в России',
            features: [
              'Свинцово-кислотные и Литий-ионные АКБ для всех видов техники',
              '4 ступени контроля качества',
              'Безопасность и экологичность в каждом аккумуляторе'
            ]
          },
          {
            img: 'prod-3',
            title: 'Шкафы',
            text: 'Шкафы сборно-разборные ,шкафы со сварным каркасом.',
            features: [
              'Свинцово-кислотные и Литий-ионные АКБ для всех видов техники',
              '4 ступени контроля качества',
            ]
          },
        ]
      })