section.base-section
  .container
    h2.base-title Сертификаты
    p.base-text В нашей компании мы осознаем важность надежности и качества поставляемого оборудования. Мы уверены, что технологии должны служить экологическим целям, способствуя устойчивому развитию и сохранению природных ресурсов. Именно поэтому все наши товары сертифицированы в соответствии с международными стандартами качества и безопасности.