section.base-section.licenses
  .container
    h2.base-title Сертификаты
    p.base-text В нашей компании мы осознаем важность надежности и качества поставляемого оборудования. Мы уверены, что технологии должны служить экологическим целям, способствуя устойчивому развитию и сохранению природных ресурсов. Именно поэтому все наши товары сертифицированы в соответствии с международными стандартами качества и безопасности.

    .base-section__container
      +main-slider({
        type: 'licenses',
        items: [
          {
            img: 'cert-1',
            title: 'лиц-1',
          },
          {
            img: 'cert-2',
            title: 'лиц-2',
          },
          {
            img: 'cert-3',
            title: 'лиц-3',
          },
          {
            img: 'cert-4',
            title: 'лиц-4',
          },
          {
            img: 'cert-5',
            title: 'лиц-5',
          },
        ]
      })
