@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

.header {
	.container {
		@extend %flex-align;
		gap: 24px;
	}

	.main-logo {
		margin-right: auto;
		svg {
			fill: var(--primary);
			width: 80px;
			height: auto;
		}
	}

	.social {
		display: none;
		svg {
			fill: var(--primary);
		}
	}

	.main-btn {
		display: none;
		padding: 12px;
		min-height: 44px;
	}

	.burger {
	}

	@include media-up($mobile-width) {
		.main-btn,
		.social {
			display: flex;
		}

		.burger {
			display: none;
		}
	}
}
