include ../../components/_ui/main-btn/main-btn
include ../../components/_ui/burger/burger 
header.header
  .container
    a(href="/").main-logo 
      svg(width='50' height='50' role='img' aria-hidden='true' focusable='false')
        use(xlink:href='./assets/sprite.svg#icon-logo')

    include ../../components/blocks/top-menu/top-menu 
    
    include ../../components/blocks/social/social

    +main-btn({
      tag: 'button',
      text: 'Заказать звонок'
    })
    
    +burger({
      cls: 'top-menu-opener'
    })
    