@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.main-slider {
	.swiper-slide {
		width: 100%;
		max-width: fit-content;
		height: auto;
	}
}
