include ../../cards/product-card

mixin main-slider(data)
  .swiper.main-slider
    .swiper-wrapper
      if data.type == 'products'
        each item in data.items
          .swiper-slide
            +product-card(item)
      if data.type == 'licenses'
        each item in data.items
          .swiper-slide
            img(src=`./assets/img/${item.img}.png` data-fancybox="licenses" alt= data.title width="400" height="300")

    
    .swiper-controls
      .swiper-pagination
      .swiper-navigation
        button(type="button" aria-label="Назад").swiper-button-prev
        button(type="button" aria-label="Вперед").swiper-button-next
