@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

.bottom-menu {
	color: var(--white);

	ul {
		@extend %list-reset;
		@extend %flex-column;
		gap: 12px;

		@include media-up($tablet-lg-width) {
			flex-direction: row;
			align-items: center;
		}

		a {
			font-size: 16px;
			color: var(--white);
			@extend %hover-opacity;
		}
	}
}
