.social
  a(href="#" rel="noopener nofollow norefferer")
    svg(width='32' height='32' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='../assets/sprite.svg#icon-vk')
    //img(src="./assets/img/vk-icon.svg" alt="" width="32" height="32" rel="noopener nofollow norefferer") 
  
  a(href="#" rel="noopener nofollow norefferer")
    svg(width='32' height='32' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='../assets/sprite.svg#icon-tg')
    //- img(src="./assets/img/tg-icon.svg" alt="" width="32" height="32" )
  
  a(href="#" rel="noopener nofollow norefferer")
    svg(width='32' height='32' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='../assets/sprite.svg#icon-whatsapp')
    //- img(src="./assets/img/whatsapp-icon.svg" alt="" width="32" height="32" rel="noopener nofollow norefferer")