@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/sliders/reviews-slider/reviews-slider";

.reviews {
	.swiper-controls {
		display: flex;
		padding: 0;

		.swiper-button-next,
		.swiper-button-prev {
			background-color: var(--white);
		}

		.swiper-button-disabled {
			background-color: transparent;
		}

		.swiper-navigation {
			margin-left: auto;
		}

		@include media-up($tablet-lg-width) {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column-reverse;
		gap: 20px;

		@include media-up($tablet-lg-width) {
			flex-direction: row;
		}

		&-item {
			&--side {
				@extend %flex-column;
				position: relative;
				width: 100%;
				height: auto;

				@include media-up($tablet-lg-width) {
					max-width: 450px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: var(--main-border-radius);
					display: none;

					@include media-up($tablet-lg-width) {
						display: flex;
					}
				}
			}

			&--content {
				@extend %flex-column;

				@include media-up($tablet-lg-width) {
					width: calc(100% - 490px);
				}
			}
		}
	}

	&__tags {
		@extend %flex-wrap;
		gap: 10px;
		margin-bottom: 20px;

		@include media-up($tablet-width) {
			margin-bottom: 40px;
		}

		.main-btn {
			width: revert;
			min-height: 28px;
			max-width: revert;
			min-width: fit-content;
			padding: 6px 16px;
			flex-grow: 1;
			color: var(--dark);
			background-color: var(--muted);

			@include media-up($mobile-width) {
				flex-grow: 1;
				min-height: 40px;
			}
		}
	}
}
