include ../../components/_ui/sliders/reviews-slider/reviews-slider

section.base-section.reviews
  .container
    .reviews__grid
      .reviews__grid-item.reviews__grid-item--side
        img(src="./assets/img/reviews-img.png" alt="Ваши отзывы нас вдохновляют" width="372" height="330")

        .swiper-controls
          .swiper-navigation
            button(type="button" aria-label="Назад").swiper-button-prev
            button(type="button" aria-label="Вперед").swiper-button-next

      .reviews__grid-item.reviews__grid-item--content
        h2.base-title Отзывы наших клиентов
        .reviews__tags
          a(href="#").main-btn Все отзывы
          a(href="#").main-btn Яндекс
          a(href="#").main-btn Гугл-карты
          a(href="#").main-btn 2ГИС

        +reviews-slider([
          {
            author: 'Константинов Константин',
            role: 'Управляющий магазина',
            logo: './assets/img/avatar.png',
            content: '"Отличный опыт сотрудничества! Я заказал солнечные модули и стабилизаторы напряжения, и был приятно удивлён качеством продукции и оперативностью доставки. Команда всегда готова ответить на вопросы и предложить лучшие решения. Очень рекомендую! Сотрудничаем уже несколько лет"'
          },
          {
            author: 'Константинов Константин',
            role: 'Управляющий магазина',
            logo: './assets/img/avatar.png',
            content: '"Отличный опыт сотрудничества! Я заказал солнечные модули и стабилизаторы напряжения, и был приятно удивлён качеством продукции и оперативностью доставки. Команда всегда готова ответить на вопросы и предложить лучшие решения. Очень рекомендую! Сотрудничаем уже несколько лет"'
          },
          {
            author: 'Константинов Константин',
            role: 'Управляющий магазина',
            logo: './assets/img/avatar.png',
            content: '"Отличный опыт сотрудничества! Я заказал солнечные модули и стабилизаторы напряжения, и был приятно удивлён качеством продукции и оперативностью доставки. Команда всегда готова ответить на вопросы и предложить лучшие решения. Очень рекомендую! Сотрудничаем уже несколько лет"'
          },
          {
            author: 'Константинов Константин',
            role: 'Управляющий магазина',
            logo: './assets/img/avatar.png',
            content: '"Отличный опыт сотрудничества! Я заказал солнечные модули и стабилизаторы напряжения, и был приятно удивлён качеством продукции и оперативностью доставки. Команда всегда готова ответить на вопросы и предложить лучшие решения. Очень рекомендую! Сотрудничаем уже несколько лет"'
          },
        ])
              

