section
  .container
    h2 Наша продукция
    p Мы предлагаем широкий спектр современного электрического и электронного оборудования для решения любых задач в области энергоснабжения и автоматизации.