section.base-section
  .container
    h2.base-title Наша продукция
    p.base-text Мы предлагаем широкий спектр современного электрического и электронного оборудования для решения любых задач в области энергоснабжения и автоматизации.