section.base-section.about
  .container
    .about__top
      .about__top-grid
        .about__top-grid-item
          h2.base-title О нашей компании
          p.base-text 
            | Наша компания специализируется на поставках электрического и электронного оборудования, а также электронных компонентов как из России, так и из-за рубежа. Мы верим, что технологии могут служить на благо экологии, и стремимся внедрять решения, которые обеспечивают энергосбережение и экологическую устойчивость.
            <br><br>
            | В нашем ассортименте вы найдете аккумуляторные батареи, накопители, шкафы, источники бесперебойного питания, автоматику, стабилизаторы напряжения, контроллеры, блоки питания, солнечные модули и многое другое. Мы предлагаем надежные и высококачественные продукты, которые помогут вам оптимизировать энергетические процессы и снизить воздействие на окружающую среду.
            <br><br>
            | Сотрудничая с нами, вы получаете не только передовые технологические решения, но и надежного партнера, который поддерживает принципы экологической ответственности и взаимовыгодного сотрудничества. Мы уверены, что вместе мы можем сделать мир лучше, используя технологии на благо экологии!

        .about__top-grid-item.about__top-grid-item--picture
          img(src="./assets/img/logo.svg" alt="" width="700" height="500")
    .about__bottom
      .about__bottom-grid
        .about__bottom-grid-item
          .about-card
            span.about-card__title Широкий ассортимент
            p.base-text В нашем каталоге представлен обширный выбор аккумуляторных батарей, накопителей, шкафов, источников бесперебойного питания, автоматиков, стабилизаторов напряжения, контроллеров, блоков питания, солнечных модулей и многого другого. Мы поможем подобрать оптимальное решение для любых ваших энергетических нужд.
        .about__bottom-grid-item
          .about-card
            span.about-card__title Энергоэффективные решения
            p.base-text Следуя нашему лозунгу «Технологии на благо экологии», мы предлагаем инновационные и энергоэффективные продукты, способствующие снижению негативного воздействия на окружающую среду. Используя наши технологии, вы вкладываетесь в устойчивое будущее.
        .about__bottom-grid-item
          .about-card
            span.about-card__title Быстрая доставка и гибкие условия сотрудничества
            p.base-text Мы обеспечиваем быструю и надежную доставку нашей продукции, а также предлагаем гибкие условия сотрудничества, которые позволяют находить лучшие решения для вашего бизнеса.
    
