section 
  .container
    h1 Поставки электрического, электронного оборудования и электронных компонентов из России и из-за Рубежа
    p Технологии на благо экологии. Энергия, экология, сотрудничество.