include ../../components/_ui/main-btn/main-btn

section.hero
  .container
    .hero__content
      h1.main-title Поставки электрического, электронного оборудования и электронных компонентов из России и из-за Рубежа
      p.main-text Технологии на благо экологии. Энергия, экология, сотрудничество.

      +main-btn({
        type: 'button',
        text: 'Заказать звонок'
      })

      