
section.base-section.features
  .container
    .features__grid
      .features__grid-item.features__grid-item--picture
        img(src="./assets/img/feature-img.png" alt="АКБ" width="700" height="400")
      .features__grid-item
        h2.base-title Преимущества литиевых АКБ
        p.base-text Литиевые аккумуляторные батареи становятся неотъемлемой частью современного мира, обеспечивая надежное и эффективное энергоснабжение для самых различных приложений. В рамках нашей компании, которая стремится предложить только лучшее для своих клиентов и нашей планеты, мы отмечаем ключевые преимущества литиевых АКБ:
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-1.svg" alt="" width="40" height="40")
          span Нет затрат на обслуживание
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-2.svg" alt="" width="40" height="40")
          span Гарантия 3 года
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-3.svg" alt="" width="40" height="40")
          span Скорость заряда до 100% за 1-2 часа
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-4.svg" alt="" width="40" height="40")
          span Срок службы
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-5.svg" alt="" width="40" height="40")
          span Эффективная эксплуатация
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-6.svg" alt="" width="40" height="40")
          span Нет эффекта памяти
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-7.svg" alt="" width="40" height="40")
          span Не токсичны
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-8.svg" alt="" width="40" height="40")
          span Доступная ёмкость более 98%
      .features__grid-item
        .feature-card
          img(src="./assets/img/feature-icon-9.svg" alt="" width="40" height="40")
          span Энергопотребление ниже на 30%


