@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.footer {
	padding: clamp(30px, 4vw, 80px) 20px;
	border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
	background-color: var(--primary);
	container: footer / inline-size;

	&__section {
		&--top {
			@extend %flex-column;
			align-items: center;
			gap: 20px 24px;
			padding-bottom: 40px;
			border-bottom: 1px solid var(--white);

			.main-logo {
				svg {
					fill: var(--white);
					width: 80px;
					height: auto;
				}
			}

			@include media-up($tablet-width) {
				flex-direction: row;
				flex-wrap: wrap;

				.main-logo {
					margin-right: auto;
				}
			}

			.main-btn {
				padding: 8px 12px;
				min-height: 40px;
				color: var(--primary);
				background-color: var(--white);
			}

			.bottom-menu {
				flex-grow: 1;

				width: 100%;
				order: 2;

				ul {
					justify-content: center;
					align-items: center;
					text-align: center;
					gap: 8px 24px;
				}

				@include media-up($tablet-lg-width) {
					padding: 0 clamp(20px, 3vw, 32px);
				}

				@include container-up("footer", 1440px) {
					width: fit-content;
					order: revert;

					ul {
						justify-content: space-between;
					}
				}
			}
		}

		&--bottom {
			@extend %flex-column;
			align-items: center;
			gap: 8px 32px;
			justify-content: space-between;
			padding-top: 40px;

			* {
				width: fit-content;
				color: var(--white);
			}

			a {
				text-decoration: underline;
				text-underline-offset: 3px;
				@extend %hover-opacity;
			}

			@include media-up($tablet-width) {
				flex-direction: row;
			}
		}
	}
}
